# Week 1: Cardiovascular Disease Dataset - Q&A

**Dataset:** [Kaggle - Cardiovascular Disease Dataset](https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset)

**Total Questions:** 33

## Q1: Import necessary libraries (numpy, pandas, matplotlib, seaborn, warnings)

In [2]:
import pandas as pd
import numpy as np

## Q2: Load the dataset and display shape

In [4]:
df = pd.read_csv('cardio_train.csv', sep=';')
df.shape

(70000, 13)

## Q3: Display first and last 10 rows of the dataset

In [5]:
df.head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0

In [20]:
df.tail(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
69990,99986,15094,1,168,72.0,110,70,1,1,0,0,1,1
69991,99988,20609,1,159,72.0,130,90,2,2,0,0,1,0
69992,99990,18792,1,161,56.0,170,90,1,1,0,0,1,1
69993,99991,19699,1,172,70.0,130,90,1,1,0,0,1,1
69994,99992,21074,1,165,80.0,150,80,1,1,0,0,1,1
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

## Q4: Get dataset dimensions (rows, columns, total cells)

In [8]:
print("totel rowes  = " , df.shape[0])
print("totel columns  = " , df.shape[1])

totel rowes  =  70000
totel columns  =  13

In [11]:
df.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

## Q5: Display column names and data types using df.info()

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB
None

## Q10: Generate comprehensive statistical summary (mean, median, std, min, max, quartiles)

In [13]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

## Q11: Check for missing values

In [16]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

## Q13: Check for duplicate rows (count and display)

In [21]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

## Q14: Analyze data types distribution (count numerical vs categorical)

In [19]:
df.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

## Q15: Check if data types are appropriate (identify misclassified columns)

In [ ]:
# Your Answer:

## Q16: Create data quality report (column name, data type, non-null count, null count, null %)

In [ ]:
# Your Answer:

## Q17: Identify target variable (unique values, value counts, percentages)

In [ ]:
# Your Answer:

## Q18: Analyze target distribution and class balance (percentages, ratio, balanced or imbalanced?)

In [ ]:
# Your Answer:

## Q19: Visualize target distribution (pie chart, bar chart with counts and percentages)

In [ ]:
# Your Answer:

## Q20: Discuss class imbalance implications (percentage per class, problematic?, consequences, model training impact)

Your Answer:

## Q21: Calculate baseline prediction accuracy (if we predict majority class for all samples, what is accuracy?)

In [ ]:
# Your Answer:

## Q22: List all numerical features (create list, display names and count)

In [ ]:
# Your Answer:

## Q23: Detailed statistics for numerical features (mean, median, mode, std, variance, min, max, range, skewness, kurtosis)

In [ ]:
# Your Answer:

## Q24: Visualize distributions of numerical features (histograms in grid with mean and median lines)

In [ ]:
# Your Answer:

## Q25: Analyze distribution patterns (normal/skewed/bimodal?, unusual patterns?, extreme values?, matches expected ranges?)

Your Answer:

## Q26: Identify numerical anomalies (negative values?, zero values?, values outside clinical ranges?, suspicious values?)

In [ ]:
# Your Answer:

## Q27: List all categorical features (create list, display names and count)

In [ ]:
# Your Answer:

## Q28: Analyze categorical features (unique values, counts, percentages, most/least common)

In [ ]:
# Your Answer:

## Q29: Visualize categorical features (bar plots in grid with counts and percentages)

In [ ]:
# Your Answer:

## Q30: Detect outliers using IQR method (Q1, Q3, IQR, bounds, outlier count, percentage for each feature)

In [ ]:
# Your Answer:

## Q31: Visualize outliers with box plots (grid showing outliers as individual points)

In [ ]:
# Your Answer:

## Q32: Analyze correlations (correlation matrix, highly correlated pairs |r|>0.7, moderately correlated 0.5<|r|<0.7, heatmap)

In [ ]:
# Your Answer:

## Q33: Analyze target correlations (correlation of all features with target, rank by importance, top 5, low correlation features, visualization)

In [ ]:
# Your Answer:

## FINAL REPORT: Comprehensive 10-section summary (Executive Summary, Dataset Overview, Data Quality, Target Analysis, Feature Analysis, Correlations, Key Insights, Preprocessing Strategy for Week 2, Assumptions & Limitations, Recommendations)

Your Answer: